<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <h3>Add Ingredients</h3>
  <%= form.fields_for :ingredients do |ingredient| %>
  <%= render 'ingredient_fields', f: ingredient %>
  <% end %>

  <div class="links">
  <%= link_to_add_association 'Add Ingredient', form, :ingredients %>
  </div>

  <h3>Add Steps</h3>
<%= form.fields_for :steps do |step| %>
<%= render 'step_fields', f: step %>
<% end %>
<div class="links">
<%= link_to_add_association 'Add Step', form, :steps %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
